# user specific / secrets
local_env.sh
.env
.Renviron

# temporary / editor / OS
*.Rhistory
*.Rapp.history
.Rproj.user/
*.DS_Store
.ipynb_checkpoints/
*.pyc

# conda / python env
.conda_info
venv/
env/

# outputs / large files (ignore 'output' inside your main folders)
0_raw/**/output/
1_data/**/output/
2_analysis/**/output/
3_slides/**/output/
4_paper/**/output/
**/output/

# LaTeX aux files
*.aux
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.toc
**/source/*.log
**/source/*.pdf

# misc
*Rplots.pdf
*setup_stata.log
*.lof
*.lot
*.svn
